<!DOCTYPE html>
<html>
  <head>
    <title>Ivan Coding World - Personal website of Ivan Ivanov</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
  </head>
  
  <body>
    <h1>Welcome to Ivan's Coding World!</h1>
    <h2>If you're seeing this page, it means that the website is properly launched, welcome!</h2>
    <h3>These are the most recent projects I've worked on</h3>
    <img src="/static/images/mountain.jpg"width="300" height="150">
    <img src="/static/images/nature.jpg"width="300" height="150">
    <img src="/static/images/lake.jpg"width="300" height="150">
  </body>
</html>